<%- include("./layout/header") %>

<a href="/" type="button" class="btn btn-secondary">Go Back</a>

    <form method="POST" action="/new/article" style="margin: 30px;">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input name="title" type="text" class="form-control" >
        <% if (error && error.title) { %>
        <h1 style="color: crimson;"> <%= error.title.message %></h1>
        <% { %> 
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Article</label>
        <textarea name="article" class="form-control" rows="3"></textarea>
        <% if (error && error.article) { %>
        <h1 style="color: crimson;"> <%= error.article.message %> </h1>
        <% { %> 
      </div>
      <button type="submit" class="btn btn-secondary">Submit</button>
    </form>

    <%- include("./layout/footer") %>